<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-md-9">
                <h3>Bem vindo ao Super Suporte</h3>
                <p>Essa aplicação lhe permite abrir Chamados, efetuar Ativação do Sistema, acesso aos Manuais e VídeoAulas e vários outros.</p>
            </div>
            <div class="col-md-3 contact-us">
                <h4>Entre em contato conosco</h4>
                <p><span title="Siga no Twitter" class="fa fa-globe fa-fw"></span> <a class="black-anchor">(11) 97192-6276 (Whatsapp)</a></p>
                <p><span title="Envie um e-mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:fernandopassaia@futuradata.com.br">fernandopassaia@futuradata.com.br</a></p>
                <p><span title="Website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="https://www.futuradata.com.br">www.futuradata.com.br</a></p>
            </div>
        </div>
 

        <div class="row our-values">
            <div class="col-sm-4">
                <span class="fa fa-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Nossos valores</h2>
                <h4><strong>Missão:</strong> Entregar soluções de Software Completas que sejam fáceis de usar e implantar.</h4>
                <p>
                    <strong>Visão:</strong> Nossa visão foi sempre de descomplicar questões administrativas, gerenciais e fiscais que pareciam ser difíceis de resolver:
                    <sup>&reg;</sup> Software não precisa ser difícil para nossos usuários, todos precisam ter soluções completas e simples.
                    <br />
                    <br />
                    Administração Completa, Produtividade e Facilidade sem Complexidade estão na alma de nossos produtos.
                </p>
            </div>
        </div>

    </div>
</div>
