@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the FutureOfMedia User-Management UI</h1>
    <p>Please Make User the WebApi .Net Core BackEnd is Running On before Use it.</p>
</div>
